[Unit]
Description=IBM Domino Server (notes)
After=syslog.target network.target

[Service]
Type=forking
User={{ __dom_user }}
LimitNOFILE=60000
LimitNPROC=8000
TasksMax=8000
PIDFile={{ __dom_notesdata }}/domino.pid
ExecStart={{ __dom_install_location }}/rc_domino_script start
ExecStop={{ __dom_install_location }}/rc_domino_script stop
TimeoutSec=100
TimeoutStopSec=300
KillMode=none
RemainAfterExit=no
Environment=LANG=en_US.UTF-8

[Install]
WantedBy=multi-user.target
