
*.retry
*.rsp
*.log
environments/hosts.*
templates/*
playbooks/ibm-was-nd/IMPLEMENTAR*
playbooks/templates
playbooks/templates/*
playbooks/testes.*
playbooks/ibm-sametime-was.yml
roles/sametime-was-server-install
roles/connections-cr-update
roles/docs-conversion-install
was-dmgr-config-sso
environments/BB
playbooks/dev
playbooks/BB
playbooks/BB/*
playbooks/ibm-was-nd/*BB*
roles/BB
roles/BB/*

