# This is the default ansible 'hosts' file.
#
# It should live in /etc/ansible/hosts
#
#   - Comments begin with the '#' character
#   - Blank lines are ignored
#   - Groups of hosts are delimited by [header] elements
#   - You can enter hostnames or ip addresses
#   - A hostname/ip can be a member of multiple groups
#
# How to run:
#
# ansible-playbook -i hosts.example -k ansible-ibm-websphere/playbooks/was-create-dmgr-profile.yml
#

[dmgr]
was-srv1.company.com was_nodename=was-srv1Node

[was-servers]
was-srv2.company.com was_nodename=was-srv2Node
was-srv3.company.com was_nodename=was-srv3Node
was-srv4.company.com was_nodename=was-srv4Node
was-srv5.company.com was_nodename=was-srv5Node

[dmgr:vars]
iim_repository_url=http://192.168.1.1/installation
was_repository_url=http://192.168.1.1/was/8.5.5
was_fixes_repository_url=http://192.168.1.1/was/8.5.5
was_username=wsadmin
was_password=<PASSWORD>
was_cellname=ProductionCell
ldap_server=ldap_prod.company.com
ldap_alias=ldap_prod
ldap_repo=LDAP_PROD
ldap_bind_user=uid=mybinduser,o=company
ldap_bind_pass=<PASSWORD>
ldap_realm=o=company

[was-servers:vars]
iim_repository_url=http://192.168.1.1/installation
was_repository_url=http://192.168.1.1/was/8.5.5
was_fixes_repository_url=http://192.168.1.1/was/8.5.5
#was_version="8.5.5009.20160225_0435"
was_username=wsadmin
was_password=<PASSWORD>
profile_name=AppSrv01
dmgr_hostname=was-srv1.company.com
