# How to run
#
# Run
#
# ansible --list-hosts was-nodes
#
# ansible -k was-nodes -m ping
#
# ansible-playbooks -i hosts.development -k ansible-ibm-websphere/playbooks/was-profile-cleanup-logs.yml


[dmgr]
dwas-srv1.company.com ansible_user=ansible

[was-nodes]
dwas-srv2.company.com ansible_user=ansible
dwas-srv3.company.com ansible_user=ansible
dwas-srv4.company.com ansible_user=ansible
dwas-srv5.company.com ansible_user=ansible

[dmgr:vars]
profile_name=Dmgr01

[was-nodes:vars]
profile_name=AppSrv01
