---
#- name:          Install pre-requisites Apt
#  apt:
#    name: ['glibc.i686'] 
#    state: present
#  when: ansible_os_family == "Debian"

- name:          Install pre-requisites Zypper
  zypper:
    name: ['glibc-32bit','libgcc_s1-32bit'] 
    state: present
  when: ansible_os_family == "Suse"

# java 32 bits for Toolbox/WCT 8.5 
- name:          Install pre-requisites Yum
  yum:
    name: ['glibc.i686', 'libgcc.i686']  
    state: present
  when:
    - ansible_os_family == "RedHat"
    - (ansible_distribution == "RedHat" or ansible_distribution == "CentOS" or ansible_distribution == "Amazon")

#- name:          Install pre-requisites Dnf
#  dnf:
#    name: ['unzip', 'tar', 'wget'] 
#    state: present
#  when:
#    - ansible_os_family == "RedHat"
#    - (ansible_distribution != "CentOS" or ansible_distribution != "Amazon")
