---
- include:            check-version.yml

#TODO: Change this for Domino v10
- include:            config-os.yml
  when:               __release < __this_version[0:3]

#- name: TODO:          CHECK IF DOMINO IS RUNNING using lsof
#  command:       "lsof {{ __dom_install_location }}/bin/server"
#  register:      __domino_is_running
#  when:         version_already_installed.rc != 0

# TODO:          STOP DOMINO
#- include:      domino-server-stop.yml
#  when:         __domino_is_running.rc != 0

- include:      inst-domino-fp.yml
  when:         ( __release < __this_version[0:3] ) and (__fp < __this_version[0:3])
#  when:         (domino_version == __release) and (__this_version != __fp) and ("" != __fp)
