#set java path up to the Jre in JAVA_HOME
JAVA_HOME=/opt/IBM/WebSphere/AppServer/java

#set NOGUI
NOGUI=true

#set DISCOVERONLY
DISCOVERONLY=false

#set SILENTPATCH
SILENTPATCH=true

#set BACKWARDCOMPATIBILITY
BACKWARDCOMPATIBILITY=false
