# Start of File
cellName=AdminControl.getCell()
for clusterName in sys.argv :

	##############################################################################
	# Identify the ClusterMgr MBean and assign it to the clusterMgr variable.
	##############################################################################
	clusterMgr = AdminControl.completeObjectName('cell='+cellName+',type=ClusterMgr,*')

	##############################################################################
	# Refresh the list of clusters.
	##############################################################################
	AdminControl.invoke(clusterMgr, 'retrieveClusters')

	##############################################################################
	# Identify the Cluster MBean and assign it to the cluster variable.
	#############################################################################
	cluster = AdminControl.completeObjectName('cell='+cellName+',type=Cluster,name='+clusterName+',*')

	if cluster == '':
		continue

	##############################################################################
	# Stop cluster.
	#############################################################################
	print "stopping cluster" + cluster
	AdminControl.invoke(cluster, 'start')
	print "finish."
# End of File

####
#import sys
#import lcapp
#
#cell = lcapp.Cell()
#for cname in sys.argv:
#    print "start cluster:", cname
#    for cluster in cell.clusters(cname):
#        cluster.start()
