create
profileName={{ __profile_name }}
profilePath={{ __was_install_location }}/profiles/{{ __profile_name }}
templatePath={{ __was_install_location }}/profileTemplates/managed
nodeName={{ __was_nodename }}
hostName={{ __was_hostname }}
dmgrHost={{ dmgr_hostname }}
dmgrPort=8879
dmgrAdminUserName={{ __was_username }}
dmgrAdminPassword={{ __was_password }}
personalCertValidityPeriod=15
signingCertValidityPeriod=15
