---
- name:                 "Generate Response file"
  template:
    src:                "{{ __tpl_file }}"
    dest:               "{{ __rsp_file }}"

- name:                 "Configure JVM"
  command:
    chdir={{ __bin_dir }}
    {{ __bin_dir }}/wsadmin.sh -lang jython -port {{ __dmgr_soap_port }} -username {{ __was_username }} -password {{ __was_password }} -f {{ __rsp_file }}
  register:             cout
  changed_when:         cout.rc == 0

- name:                 "Create was-dmgr-enable-app-sec.success file"
  file:
    path:               "{{ __success_file }}"
    state:              touch